.inline-block{
    display: inline-block;
    vertical-align: 5px center;
} 

.logo{ 
    width: 5px;
    height: 5px;
    padding: 1%;
    text-align: start;}


  header {
    background-color: rgba(255, 157, 142, 0.3);
    padding: 15px;
  }
  header ul {
    float: right;
    color: #373738;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  h1 { 
    display: block;
    font-size: 96px;
    font-family: Satisfy;
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 36px;
    font-family: Josefin sans-serif ;
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;}

  .heroImg {
    padding: 100px 15px;
    text-align: center;
    width: 250px ;
    height: 250px ;
  }
  body{
    background-color: rgba(255, 157, 142, 0.3);
  }
  
 .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }

  p{
    font-family: Josefin Sans light;
    font-size: 36px;
    width: 800px;
    margin: 500px;
    text-align: middle;
  }
  button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    float: right;
  }
  footer {
    background-color:  rgba(255, 157, 142, 0.3)
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  .heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
  }
  /* My UX Skills Section */
  .flexContainer {
    display: flex;
    padding: 60px 30px;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
  }
  
  /* My Work Section */
  .myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color:  rgba(255, 157, 142, 0.3);
  }
  .workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;

  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }
  